<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quick PMQs</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style/style.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
</head>
<body ng-app="quickPMQs">

<div class="corbyn-background"></div>
<div class="cameron-background"></div>

<div class="content-container" ng-controller="TweetController">

 <a name="thetop"></a>

  <h1 class="site-title">Quick PMQs</h1>
  <span class="twitter-handles"><a href="http://www.twitter.com/QuickPMQs">@QuickPMQs</a> | <a href="http://www.twitter.com/jonnykates">@JonnyKates</a></span>
  <p class="site-intro">Prime Minister's Questions (often abbreviated to PMQs) is a session held in the House of Commons every Wednesday afternoon where the Prime Minister (David Cameron) answers questions from MPs; specifically the Leader of the Opposition (Jeremy Corbyn).</p>
  <p class="site-intro">Quick PMQs offers short summaries of these interactions, attempting to focus on the heart of the issues being discussed by removing political rhetoric or personal attacks.</p>

  <div class="selector-wrapper">
    <select class="date-selector" ng-model="debateSelector" ng-options="debate.date for debate in debates">
      <option value="" style="display: none;">Select a date to get started</option>
    </select>
  </div>


  <div ng-repeat="debate in debates | orderBy:'date':true | filter:debateSelector.date">
    <!-- <div class="date-title" style="display:block;">
      <h2>{{ debate.date | date }}</h2>
    </div> -->

    <div ng-repeat="tweet in debate.tweets" class="tweet {{ tweet.side }}">
      <div class="tweet-avatar">
        <img src="{{ tweet.avatar }}" class="avatar">
      </div>
      <div class="tweet-msg">
        <h2 class="name">{{ tweet.politician }}</h2>
        <span class="source-link"><a href="{{ tweet.source }}">Source</a></span>
        <p class="tweet-content">{{ tweet.message }}</p>
      </div>
    </div>

    <p class="back-to-top"><a href="#thetop">Back to top</a></p>
  </div>

</div>

<!-- Modules -->
<script src="js/quickpmqs.js"></script>

<!-- Controllers -->
<script src="js/controllers/TweetController.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70472350-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>